<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
      
    }
  </style>

<!-- <body> -->

<body style="background: url(https://github.com/slayAlphalu/Music-Searching-Web-Application/blob/master/bg.JPG?raw=true);background-size: 100% 100%;color:floralwhite">
  <h1>Your Favorite Music Search Engine</h1>

  <form method="POST" action="/search_singer">
  <p>Search for singer: <input type="text" name="name"> <input type="submit" value="Search"></p>
  </form>

  <form method="POST" action="/search_song">
  <p>Search for song: <input type="text" name="name"> <input type="submit" value="Search"></p>
  </form>

  <form method="POST" action="/search_album">
  <p>Search for album: <input type="text" name="name"> <input type="submit" value="Search"></p>
  </form>

  <form method="POST" action="/search_list">
  <p>Search for list: <input type="text" name="name"> <input type="submit" value="Search"></p>
  </form>


</body>


</html>
